@import 'var';
$accent-color: #aeb1b5;
$code-bg-color: #f9f9f9;
$font-color: #34373b;
$header-color: #1a1b1b;
$link-color: #2077b2;
$control-text-color: #667176;
$side-bar-bg-color: #fafafa;
$body-font: $--monospace;
$title-font: $--monospace;
$border-radius: 3px;
$document-padding-x: 6ch;
$font-size: $--font-size;
$h1-fontsize: 1.8em;
$h2-fontsize: 1.6em;
$h3-fontsize: 1.3em;
$h4-fontsize: 1.3em;
$line-height: 1.6em;
$main-content-max-width: 190ch;
$monospace-font-size: 1em;
$monospace-line-height: 1.6em;

html {
    font-size: $font-size;
    background-color: $--page-color;
}

html,
body {
    color: $font-color;
    font-family: $body-font;
    line-height: $line-height;
}

#write {
    /* size of writing area: */
    padding-left: $document-padding-x;
    padding-right: $document-padding-x;
    max-width: $main-content-max-width;
    box-sizing: border-box;
    text-align: justify;
}

/** Block Elements */
/* yaml */
pre.md-meta-block {
    background-color: $--page-color;
    padding-bottom: 1rem;
    color: $control-text-color;
    border-bottom: 1px solid $--line-color;
    font: italic norma bolder $font-size $--code-font;
    margin: 1.5rem;
}

/* headings */
h1,
h2,
h3 {
    color: $header-color;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    &::before {
        font-weight: bold;
        width: 3em;
        padding-right: 0.5em;
        margin-left: -3em;
        color: $accent-color;
        display: inline-block;
        text-align: right;
        font-family: $--human;
        font-style: oblique;
    }
}

h1 {
    font-size: $h1-fontsize;

    &:first-child {
        margin-top: 0rem;
    }

    &::before {
        content: '/';
    }
}

h2 {
    font-size: $h2-fontsize;

    &::before {
        content: '//';
    }
}

h3 {
    font-size: $h3-fontsize;

    &::before {
        content: '///';
    }
}

h4,
h5,
h6 {
    color: $header-color;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 1rem;
}

h4 {
    font-size: $h4-fontsize;
}

h6 {
    color: $control-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;

    tt,
    code {
        font-size: inherit;
    }
}

/* table */
table {
    margin: 1rem 0;

    & tr:nth-child(2n),
    & thead {
        background-color: $side-bar-bg-color;
    }

    & thead {
        color: $header-color;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $title-font;
    }

    tr {

        td,
        th {
            border: 1px solid $--line-color;
            padding: .2rem 1rem;
        }

        th {
            border-bottom: 3px solid $--line-color;
        }
    }
}

ul,
ol {
    ::marker {
        color: $accent-color;
        font-weight: 700;
        font-family: $monospace-font-size;
    }
}

li p {
    margin: 0;
}

.task-list {
    padding-left: 0;
}

.task-list-item {
    padding-left: 1.5em;
    margin-top: 5px;
    margin-bottom: 0rem;
}

blockquote {
    margin: 1rem 0;
    padding-left: 1.3em;
    position: relative;
    overflow: hidden;
    border-left: 3px solid $--line-color;
    color: $accent-color;
    font-style: italic;
}

hr {
    border: none;
    border-bottom: 4px solid $--line-color;
    margin-top: 1.4rem 0;
}

/**
 * Code Fences
 * see http:/*support.typora.io/Code-Block-Styles
 */
.cm-s-inner .CodeMirror-gutters {
    background: $code-bg-color;
}

.code-tooltip {
    box-shadow: none;
    border-radius: $border-radius;
    background-color: $code-bg-color;
    border-color: $--line-color;
    border-style: solid;
    border-width: 1px;
}

.md-fences .code-tooltip {
    bottom: -1.8rem;
    padding: none;
}

.md-fences.md-focus .cm-s-inner {
    /* Remove bottom right border radius when tooltip is shown */
    border-bottom-right-radius: 0;
}

/* code tooltip autocomplete list */
.autoComplt-hint {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0.125rem 0.375rem !important;
    line-height: $line-height !important;
    height: 1.4rem !important;
}

.autoComplt-hint-selected {
    background-color: $link-color !important;
    color: $--page-color !important;
}

/* basic styles */
.md-fences,
code,
tt {
    background-color: $code-bg-color;
    font-family: $--code-font;
    font-size: $monospace-font-size;
    border-radius: .45rem;
    padding: 0.35rem;
    line-height: $monospace-line-height;
    font-weight: bold;
}

.md-fences {
    margin-bottom: 18px;
    margin-top: 15px;
    padding: 0.2em 1em;
    padding-top: 8px;
    padding-bottom: 6px;
}

a {
    color: $link-color;
}

/**
 * Control UI (optional)
 */
.outline-item:hover {
    color: $header-color;
}

#write div.md-toc-tooltip {
    background-color: $--page-color;
}