$--page-color: #ffffff;
$--line-color: #ddd;
$--numeration-color: #34373b;
$--accent-color: #2077b2;
$--monospace: "CaskaydiaCove Nerd Font", monospace, Roboto;
$--human: 'Architects Daughter', cursive;
$--sans-serif: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$--serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$--code-font: 'Courier New', Courier, monospace;
$--caption-font: $--serif;
$--max-width-page: 1300px;
$--font-size: 16px;
$--font-size-print: 0.7em;

@mixin element-footer($text) {
    content: "("$text ")";
    padding-right: 5px;
    font: normal italic 600 1.3rem $--caption-font;
    margin-bottom: 2.5rem;
}

html,
body,
#write {
    background-color: $--page-color;
}

html {
    font-size: $--font-size;
}

#write {
    max-width: $--max-width-page;
    text-align: justify;
    counter-reset: img script;
}

img {
    margin: 0.5rem;
    max-width: 100%;
}

.md-image.md-img-loaded + * + .md-plain,
figcaption {
    counter-increment: img;

    &::before {
        @include element-footer(counter(img));
    }
}

.md-fences.md-end-block.md-fences-with-lineno.ty-contain-cm.modeLoaded {
    & + blockquote::before {
        counter-increment: script;
        @include element-footer(counter(script));
    }
}

// * IMPRIMIR
@media print {
    html {
        font-size: $--font-size-print;
        margin-left: 0;
        margin-right: 0;
    }

    .md-toc {
        margin-top: 2rem;
        margin-right: 2rem;
        break-before: recto;
        break-after: recto;

        p > span &:nth-child(1) {
            visibility: hidden;
        }
    }

    .md-toc-h2 {
        .md-toc-inner {
            margin-top: 10px;
        }
    }

    .md-toc-h3 {
        .md-toc-inner {
            margin-top: 5px;
        }
    }

    h1 {
        &:first-of-type {
            & + .md-toc {
                break-after: recto;
                font-size: 1rem;
                margin-left: 3rem;
                font-weight: bold;
                font-family: $--monospace;
            }
        }
    }
}